.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.graphQlFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1128px;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.frame {
  width: 1411px;
  height: 73px;
  display: block;
  flex-shrink: 0;
}
.frame2 {
  transform: translate(0px, 0.015000000000000568px);
  width: 64px;
  height: 22px;
  display: block;
  position: absolute;
  top: 26px;
  left: 48px;
  overflow: hidden;
}
.frame3 {
  transform: translate(-0.17600000000000005px, 0px);
  width: 63px;
  height: 22px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.group5 {
  width: 63px;
  height: 22px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group6 {
  width: 63px;
  height: 22px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__czCca {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 62.292px;
  height: 21.75px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame4 {
  width: 249px;
  height: 25px;
  display: block;
  position: absolute;
  top: 24px;
  left: 1114px;
}
.text__ks74G {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px, 0.39px);
}
.autoLayoutHorizontal {
  transform: translate(0px, -0.20399999999999974px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 5px;
  left: 169px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.autoLayoutHorizontal2 {
  transform: translate(0px, 0.3900000000000001px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 229px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame5 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.group3 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group4 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__kmeL2 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 20px;
  height: 19.5px;
  display: block;
  top: 0px;
  left: 0px;
}
.header {
  width: 1134px;
  height: 138px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.container {
  background: rgba(255, 255, 255, 1);
  width: 98.41%;
  height: 89.86%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.group2 {
  width: 1058px;
  height: 83px;
  display: block;
  position: absolute;
  top: 30px;
  left: 34px;
}
.group {
  background: rgba(255, 255, 255, 1);
  transform: translate(0.4579999999999984px, 0px);
  width: 89.6%;
  height: 100.24%;
  display: block;
  position: absolute;
  top: 4.82%;
  left: 3.5%;
}
.button__vLtQx:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 845px;
  top: 43px;
  height: 29px;
}
.svg__uEt5X {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__f7McW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.titleHeader {
  display: block;
  font-size: 24px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 37px;
  left: 327px;
  width: 243px;
  padding-right: 0px;
  margin-right: 0px;
  height: 45px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 512px;
  height: 853px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  left: auto;
  top: auto;
  font-weight: 700;
  margin-left: 0px;
  flex-shrink: 0;
  padding: 8px;
}
.button__wTr9B:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pFda {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__rckBj:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__mgaKd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__iygWl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__svR3Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 30px;
}
.formField__nSpq5:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__gkYcn {
  position: relative;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__hmTl1:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__l83Yf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__u6R2T:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__oxTXv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__ci7Zi:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__lcbcA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.selectCountry:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.formField__qbwNr:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__lUidj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___9GUfb:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text___7ZPoQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__bc1Hw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__rVuYa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__quuk0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #090808;
}
.text__lqxft {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fafafa;
  min-width: 0;
}
